<div class="container">
  <div id="header" class="row">
    <div class="col">
        <img src="https://img.freepik.com/vector-premium/diseno-logotipo-television_412311-3881.jpg" alt="logoTv" height="200px" width="200px">
    </div>
    <div id="headerText" class="col">
        SERIES
    </div>
  </div>

  <div class="container-fluid" id="principal">
    <div class="row">
      <div class="col-md-12">
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <footer class="page-footer">
      <div class="footer-copyright text-center py-2">
        Sample proyect -
        <a routerLink="/series/list" id="colorFooterText2"> Seriesly</a>
      </div>
  </footer>
</div>